/**/
:root{
	--footer-height: 50rem;
	--header-height : 3.75rem;
    --submenu-lr-margin : 5vw;
	--layer-pop-contents-height : 70%;
}

html, body{
	max-width: 100%;
    overflow-x: hidden;
}

body{
	font-size:16px;
}



.header{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	z-index: 1000;
	/*-webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(170%) blur(25px);
    background-image: linear-gradient(180deg,rgba(255,255,255,0.1),rgba(255,255,255,0.1));*/
	background-color: #ffffffcc;
    /*transition: background-color .3s,opacity .4s;*/
}

.header_container{
	padding: 0 1.9rem 0 1.5rem;
    height: var(--header-height);
}

.header_container .header_contents{
	display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header_gnb{
	display: flex;
    align-items: center;
    position: relative;
}

.header_container .header_contents .header_logo{

}

.header_container .header_contents .header_gnb a img{

}

.layer{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	display: none;
}

.layer .layer_wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.layer .layer_wrapper .layer_container{
    flex-grow: 1;
}

.layer .top_wrap{
	width: 100%;
}

.layer .top_wrap_container{
    height: 3.75rem;
	padding: 0 1.9rem 0 1.5rem;
}

.layer .top_wrap_contents{
	width: 100%;
    height: 100%;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.layer .top_wrap_contents .close{
	padding : 0.2rem;
}



.header_gnb_layer{
	z-index: 1001;
}

.header_gnb_layer_container{
	padding-right: 1.9rem;
	display: flex; 
    flex-direction: row-reverse;
    align-items: center;
}

.header_gnb_layer_contents{
	/*float: right;*/
}

.header_gnb_layer_contents ul li{
	margin-bottom: 2.0rem;
}


.submenu .header_gnb_layer_contents ul li{
	margin-bottom: 1.10rem;
}

.header_gnb_layer_contents ul li a,
.header_gnb_layer_contents ul li a span{
	display: inline-block;
	font-family: 'ChosunNm', 'Noto Sans KR';
	font-size: 2.8rem;
	color: #242424;
	text-decoration-line: none;
	padding-bottom: 0.25rem;
}

.submenu .header_gnb_layer_contents ul li a span{
	font-family: 'Noto Sans KR';
}

/*
.header_gnb_layer_contents ul li.active a{
	border-bottom: 2px solid #ab0101;
}*/

.header_gnb_layer .header_gnb_layer_contents ul li a::after{
	position: relative;
	display: block;
	right: 0rem;
    bottom: -0.3rem;
	width: 0rem;
	height: 2px;
	background-color: #ab0101;
	content: "";
	-webkit-transition: all ease-out 500ms;
	transition: all ease-out 500ms;
}

.header_gnb_layer .header_gnb_layer_contents ul li.active.lined a::after{
	width: 100%;
}

.header_gnb_layer_bottom{
	width: 100%;
	height: 5rem;
	padding-left: 1.5rem;
}

.header_gnb_layer_bottom .contact{
	margin-bottom: 0.5rem;
}

.header_gnb_layer_bottom .contact span, 
.header_gnb_layer_bottom .contact span a{
	color: #6D6D6D;
	font-family: 'Noto Sans KR';
	font-weight: 400;
	font-size: 0.7rem;
	text-decoration-line: none;
}

.header_gnb_layer_bottom .contact span.prefix{
	color: #242424;
	width: 0.7rem;
    display: inline-block;
}

.submenu .submenu-contents{
	display: none;
}

.submenu .submenu-contents .head,
.mainmenu .header_gnb_layer_contents .head{
	text-align: right;
	margin-bottom: 1.75rem;
}

.submenu .submenu-contents .title{
	margin-bottom: 2.25rem;
    display: flex;
}

.submenu .submenu-contents .title span{
	font-family: 'ChosunNm', 'Noto Sans KR';
	font-size: 2.8rem;
	color: #242424;
}


.submenu .submenu-contents .contents ul{
	text-align: right;
}

.submenu .submenu-contents .contents ul li a span{
	font-size: 1.70rem;
}

.footer{
    width: 100%;
    background-color: #F2F2F2;
	
	position: -webkit-sticky;
    position: sticky;
    top: calc(10vh - var(--footer-height) + 1px);
    color: #242424;

}

.footer .footer_container{
    margin-left: auto;
    margin-right: auto;
    padding: 1.9rem;
}

.footer .footer_container .footer_logo{
    margin-bottom: 1.9rem;
    display: flex;
    justify-content: space-between;
	align-items:flex-end;
}

.footer .footer_container .footer_logo .footer_logo-schs a > img{
    display: block;
}

.footer .footer_container span, .footer .footer_container span a {
	font-family: 'Noto Sans KR';
	font-size: 0.75rem;
	font-weight: 400;
	color: #242424;
	text-decoration-line: none;
}

.footer .footer_container .short_cuts{
    display: flex;
    justify-content: space-between;margin-bottom: 1.9rem;
}

.footer .footer_container span.bold{
	font-weight: 600;
}

.footer .footer_container .address,
.footer .footer_container .contact{
    margin-bottom: 0.5rem;
}

.footer .footer_container .contact .bar::before{
    display: inline-block;
    content: "";
    left: 0;
    margin: 0px 5px 0px 0px;
    width: 1px;
    height: 10px;
    background: #242424;
}

.footer .footer_container .copyright span{
	color: #BBBBBB;
	font-size: 0.6rem;
	font-weight: 100;
}


.circle-btn{
	height: 20vw;
    width: 20vw;
    border: 1px solid #777777;
    border-radius: 50%;
}

.next-btn{
	background:url(../imgs/left_arrow_grey.svg) no-repeat center center;
    transform: scaleX(1);
}


.submenu-h{
	font-family: 'Noto Serif KR';
    font-size: 7.0vw;
    color: #242424;
	margin-top: calc( var(--header-height) + 3.0vh);
	margin-left: var(--submenu-lr-margin);
}

.submenu-p{
	font-family: 'Noto Sans KR';
	font-size: 4.2vw;
	color: #616161;
	margin-left: var(--submenu-lr-margin);
	line-height: 3.7vh;
	font-weight: 300;
	margin-top: 2vh;
	width: calc( 100% - (var(--submenu-lr-margin)*2));
}

.layer-pop{
	z-index: 1001;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: #242424CF;
	width: 100%;
	height: 100%;
}

.layer-pop .top-area,
.layer-pop .bottom-area{
	width: 100%;
	height : calc( ( 100% - var(--layer-pop-contents-height) ) / 2 );
}

.layer-pop .top-area{
	position: relative;
}

.layer-pop .layer-contents-wrap{
	width: 100%;
	height : var(--layer-pop-contents-height);
	background-color: #ffffff;
	padding-left: var(--submenu-lr-margin);
	padding-right: var(--submenu-lr-margin);
	padding-top: 5vh;
}

.layer-pop .layer-contents-wrap .layer-contents{
	width: calc( 100% - var(--submenu-lr-margin)*2 );
	height : calc( 100% - 5vh );
	overflow-y: auto;
	font-family: 'Noto Sans KR';
	font-size: 4.2vw;
	font-weight: 300;
	line-height: 3.4vh;
	color: #616161;
	text-align: justify;
	padding-right: 6vw;
}

.layer-pop .top-area .close-btn{
	display: block;
	width : 5vw;
	height: 5vw;
	right: 10vw;
	bottom: 10vw;
	position: absolute;
}

.layer-pop .top-area .close-btn img{
	padding : 5vw;
	width: 100%;
	height: 100%;
}


.rect-btn{
    margin-top: 2.5vh;
    color: #707070;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 4.5vw;
    width: 100%;
    text-align: center;
    border: #707070 solid 1px;
    padding-top: 1.7vh;
    padding-bottom: 1.7vh;
}

.rect-btn a{
    width: 100%;
    height: 100%;
    text-align: center;
    color: #707070;
	text-decoration-line: none;
    display: block;
}