
:root{
    --left-margin : 1.5rem;
    --bg-img-height : 112vw;
}

.container{
    /*height: 100rem;*/
}

.section{
    width: 100%;
}

.section1{
    margin-top: calc(3.75rem + 3.0rem) ;
    padding-left: var(--left-margin);
}

.section1 h1.title{
    font-family: 'ChosunNm', 'Noto Sans KR', sans-serif;
    font-size: 2.5rem;
    line-height: 3.5rem;
}

.section2{
    margin-top: calc(3.0rem);
    overflow:hidden;
}

.section2 .bg_line_wrapper .bg_line_box{
    margin-left :  var(--left-margin);
    margin-bottom: 7rem;
    position: relative;
}

.section2 .bg_line_wrapper .bg_line_box .bgimg{
    height: var(--bg-img-height);
}



.section2 .bg_line_wrapper .bg_line_box .copybox{
    position: absolute;
    left : 0px;
    top: 0px;
    height: 100%;
}

.section2 .bg_line_wrapper .bg_line_box .copybox_wrapper{
    height: 100%;
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.section2 .bg_line_wrapper .bg_line_box .copybox .copybox_wrapper .copybox_contents h2{
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 6.0vw;
    color: #242424;
    margin-bottom: 1.25rem;

    opacity: 0;
    transition: all 0.5s ease;
}

.section2 .bg_line_wrapper .bg_line_box .copybox .copybox_wrapper .copybox_contents p{
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 4.3vw;
    color: #616161;
    line-height: 8.0vw;

    opacity: 0;
    transition: all ease 0.5s 0.25s;
}

.section2 .bg_line_wrapper .bg_line_box .copybox.active .copybox_wrapper .copybox_contents h2,
.section2 .bg_line_wrapper .bg_line_box .copybox.active .copybox_wrapper .copybox_contents p{
    opacity: 1;
}