
.section2{
    margin-top: calc(3.0rem);
    overflow:hidden;
    width: 100vw;
    height: 100vh;
}


.section2 .bg_line_wrapper{
    position: relative;
    width: 100vw;
    height: 100%;
}


.section2 .bg_line_wrapper svg * {
    transform-box: fill-box;
}

.section2 .bg_line_wrapper .bg_line_box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
}
.section2 .bg_line_wrapper .bg_line_box .bgimg_wrapper{
    opacity: 0;
}

.section2 .bg_line_wrapper .bg_line_box .bgimg_wrapper .bgimg{
    width: 100%;
}

.section2 .bg_line_wrapper .bg_line_box .copybox{
    opacity: 0;
    margin-left: 1.5rem;
}

/*
.section2 .bg_line_wrapper .bg_line_box .copybox .copybox_wrapper .copybox_contents{
    text-shadow: 1px 1px 2px black;
}*/

.section2 .bg_line_wrapper .bg_line_box .copybox .copybox_wrapper .copybox_contents h2{
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 6.0vw;
    color: #000;
    margin-bottom: 1.25rem;
}

.section2 .bg_line_wrapper .bg_line_box .copybox .copybox_wrapper .copybox_contents p{
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 4.3vw;
    color: #000;
    line-height: 8.0vw;
}



.section2 .bg_line_wrapper .ci-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 .bg_line_wrapper .ci-wrapper .mb-ci{
    width: 50vw;
    height: 60vw;
    display: block;
}

.section2 .bg_line_wrapper .ci-mask-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 .bg_line_wrapper .ci-mask-wrapper .mb-mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#bg2{
    clip-path: url(#bgline-mask2); 
}

#bg3{
    clip-path: url(#bgline-mask3); 
}