
:root{
    --left-margin : 1.5rem;
}

.container{
    height: 100rem;
}

.section{
    width: 100%;
}

.section1{
    margin-top: calc(3.75rem + 3.0rem) ;
    padding-left: var(--left-margin);
}

.section1 h1.title{
    font-family: 'ChosunNm', 'Noto Sans KR';
    font-size: 2.5rem;
    line-height: 3.5rem;
}

.section2{
    margin-top: calc(3.0rem);
    overflow:hidden;
}

.section2 .copybox1{
    position: absolute;
    left : var(--left-margin);
    top : 30rem;
}


.section2 .copybox2{
    position: absolute;
    left : var(--left-margin);
    top : 60rem;
}

.section2 .bg_line_wrapper{
    
}


.section2 .bg_line_wrapper .bg_line_box1{
    margin-left :  var(--left-margin);
    margin-bottom: 7rem;
}

/*
.section2 .bg_line_wrapper .bgimg{
    width : var(--img-width);
}
*/
.section2 .bg_line_wrapper .bg_line_box2{
    margin-right :  var(--left-margin);
}

.section2 .bg_line_wrapper .bg_line_box2 .bg_line_box2_bg{
    float: right;
}



/*.star{
    width: 3rem;
    height: 3rem;
    background-color: aqua;
}*/